-
  var title = __('title') !== 'title' ? __('title') : config.title;
  var subtitle = __('subtitle') !== 'subtitle' ? __('subtitle') : config.subtitle;
  var title_suffix = ' - ' + title;

  if (is_home()) {
    title = title;
  } else if (is_current('technology')) {
    title = __('技术')  + title_suffix;
  } else if (is_current('monetization')) {
    title = __('变现')  + title_suffix;
  } else if (is_current('thinking')) {
    title = __('思考')  + title_suffix;
  } else if (is_category()) {
    title = __('分类') + ': ' + page.category + title_suffix;
  } else if (is_tag()) {
    title = __('标签') + ': ' + page.tag + title_suffix;
  } else if (is_post()) {
    title = (page.title || __('未命名')) + title_suffix;
  } else {
    if (page.type === 'tags') {
      title = __('标签') + title_suffix;
    } else if (page.type === 'categories') {
      title = __('分类') + title_suffix;
    } else {
      title = page.title + title_suffix;
    }
  }

- var pageKeywords
- if (page.keywords) pageKeywords = Array.isArray(page.keywords) ? (page.keywords).join(',') :  ([]).join(',') || page.keywords
- else if (page.tags && page.tags.length) pageKeywords = page.tags.data.map(function(tag) {return tag.name;}).join(',')                                                                                                                       
- else pageKeywords = Array.isArray(config.keywords) ? (config.keywords).join(','):  ([]).join(',') || config.keywords

- var pageDescription
- if (page.description) pageDescription = Array.isArray(page.description) ? (page.description).join(','):  ([]).join(',') || page.description || '' 
- else pageDescription = Array.isArray(config.description) ? (config.description).join(','):  ([]).join(',') || config.description

- var pageAuthor = config.author

meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="keywords" content=pageKeywords)
meta(name="description" content=pageDescription)
meta(name="author" content=pageAuthor)                                         

meta(name="viewport", content="width=device-width, initial-scale=0.5")
meta(name="format-detection" content="telephone=no")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")

title= title
link(rel="icon" href='/img/favicon.ico')

if theme.google_analytics
  link(rel="dns-prefetch" href="https://www.googletagmanager.com")
if theme.baidu_analytics
  link(rel="dns-prefetch" href="https://hm.baidu.com")

include ../../_third-party/analytics/index.pug
include ../../_third-party/advertising/index.pug
